.input-wrapper {
    display: flex;
    border: 1px solid $gray-400;
    border-radius: $input-radius;
    padding: $input-py $input-px;

    &.drow {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
    }

    &.dcol {
        flex-direction: column;
    }

    .input-radio {
        display: 'flex';
        align-items: 'center';
        gap: '5px';
    }
}
